body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #1a1a2e;
}

.form-container{
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: transparent;
    border: 2px solid #4169e1;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(65, 105, 225, 0.1);
}

.button-container{
    text-align: center;
    padding-top: 20px 
}

.boton{
    background-color:transparent !important;
    color: white !important;
    border: 2px solid #4169e1 !important;
}   

.boton:hover{
    background-color: #6495ed !important;
    transform: scale(0.99);

}

.btn-back:hover{
    color: #6495ed;
}
