<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/asignar.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <title>Inicio</title>
</head>

<body>
  <header>

    <navbar class="navbar">
        <div class="navbar-text-container">
          <p>INICIO</p>
        </div>
    </navbar>
    <div class="text-container">
      <p class="title">ASIGNACIÓN DE TAREA</p>
    </div>
  </header>


<div class="card-container">

    <div class="card" style="width: 80rem;">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Dependencia</th>
      <th scope="col">Ubicación</th>
      <th scope="col">Categoría</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Descripción</th>
      <th scope="col">Operario</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
        <td>

            <select class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Seleccionar</option>
            <option value="1">Opcion</option>
            </select>
        </td>
        <td>
            <div class="d-grid button-container">
            <a class="btn btn-back" style="color: rgb(47, 1, 255);" >Asignar</a>
            </div>
        </td>
        
    </tr>
    
  </tbody>
</table>
    </div>

  </div>

</body>

</html>