<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../css/solicitante.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <title>Solicitante</title>
</head>
<body>
    <header>

    <navbar class="navbar">
        <div class="navbar-text-container">
          <p>Panel Solicitante</p>
        </div>
    </navbar>
    <div class="text-container">
      <p class="title">Seleccione la accion que desea realizar:</p>
    </div>
  </header>
<div class="card-container">

    <div class="card" style="width: 18rem;">
     <div class="icon-container"><i class="bi bi-ticket-perforated icono"></i></div>    
      <div class="card-body">
        <h5 class="card-title">Abrir ticket</h5>
    <p class="card-text text">Registrar un fallo, daño o error</p>
        <a href="#" class="btn boton">  Solicitar  </a>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
     <div class="icon-container"><i class="bi bi-card-checklist icono"></i></div>    
      <div class="card-body">
        <h5 class="card-title">Estado ticket</h5>
    <p class="card-text text">Revisa el estado de tu peticion</p>
        <a href="#" class="btn boton">  Solicitar  </a>
      </div>
    </div>

    </div>

</body>
</html>